.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(19,25,33);
    position: sticky;
    top: 0;
    z-index: 100;
}

.hdlogo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.loc{
    display: flex;
    align-items: center;
}

.loc img{
    display: flex;
    margin-top: 12px;
    align-items: center;
    height: 30px;
}

.search{
    display: flex;
    flex: 1;
    align-items: center;
}

.drp{
    height: 22px !important;
    font-size: 15px;
    padding: 14px;
    padding-right: 0;
    background-color:rgb(232, 232, 232);
    text-decoration: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.downarrow{
    transform: rotate(90deg);
    height: 22px !important;
    padding: 14px;;
    background-color:rgb(232, 232, 232);
}

.input{
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
    color: rgb(127, 127, 127);
}

.sicon{
    height: 22px !important;
    padding: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(254,189,105);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hdoption{
    display: flex;
    justify-content: space-evenly;
}

.navs{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.one{
    font-size: 13px;
}

.two{
    font-size: 15px;
    font-weight: 800;
}

.cart{
    display: flex;
    align-items: center;
    color: white;
}

.basketcount{
    margin-left: 10px;
    margin-right: 10px;
}


